/Research/.ipynb_checkpoints/*
/Research/.texpadtmp/*
*/keys.txt
/GDAX/data
.cache/*
/GDAX/.cache/*
/Deribit/.cache/*
/Deribit/.ipynb_checkpoints/*
/Deribit/keys.txt
/GDAX/paramstight.py
/GDAX/paramswide.py
__pycache__/
/GDAX/debug.log
